.card {
   padding: 1rem;
   border-radius:  .5rem;
    background-color: olive;
    margin: 2rem auto;
    width: 61.80vw;
    max-width: 95%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
