.neuerkollege {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-image: linear-gradient(to left bottom, #ece7b4, #eee9ba, #f0ebc0, #f1edc6, #f3efcc);
    border: solid 3px #381b03;
    border-radius: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button {
    margin-left: 70%;
    margin-top: 2%;
    box-shadow: 0px 10px 14px -7px #1c3d0d;
    font-family: Comic Sans MS;
    border-radius: .6rem;
    font-size: 1rem;
    padding:6px 12px;
}
@media only screen and (max-width:600px){
    button {
        float: right;
    }
    .neuerkollege {
        height: 250px;
    }
    input {
        max-width: 90%;
    }
}


button:hover {
    color: white;
    cursor: pointer;
	background-color:olive;
}

button:active {
	position:relative;
	top:1px;
}

input {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius:  .3rem;
    width: 10rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-family:  Comic Sans MS;
    background-color: gainsboro;
}

input:focus, textarea:focus {
    background-color: olive;
    color: white;
}

